<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        *{
            font-family: 'Poppins', sans-serif;
        }

        .btn-secondary{
            background-color: black !important;
        }
        .btn1{ 
            padding: 5px 20px;
            border-radius: 20px;
            background-color: black; 
            text-align: center;
        }
        h1{
            font-size: 30px;
        }
        .p{
            text-align: justify;
        }
        body{
            background-color: #E3E7EB !important;
        }
        nav{
            background-color: #F4F3F3 !important;
        }
        .card1{
            width: 350px;
            height: 475px;
            margin-left: 50px;
            margin-top: 90px;
            background-color: #eceaea;
            border-radius: 15px;
            padding: 15px;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="font-size: 20px;">
        <div class="container-fluid">
          <a class="navbar-brand mx-4" href="/home">
            <img src="/assets/image/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link mx-4 active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/project">Add Project</a>
              </li>             
            </ul>
            <div class="div-r d-flex align-item-center mx-4">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                {{#if isLogin}}
                    <li class="nav-item d-flex">
                      <h2 class=" mx-4" style="font-size: medium;">Good to see you, {{users.name}}</h2>
                      <a href="/logout"><button class="btn btn-secondary mx-2">logout</button>
                      </a>
                    </li>
                {{else}}
                    <li class="nav-item">
                      <a class="nav-link mx-2 " href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mx-4 my-2o" href="/login">Login</a>
                    </li>
                {{/if}}
                
              </ul>
                <a href="/contact-me">
                    <button type="button" class="btn btn-secondary mx-3">Contact me</button>
                </a>
            </div>
          </div>
        </div>
    </nav>
    {{#if messages.success}}
    <div class="alert alert-success" role="alert">
      <div class="container my-1">
          {{messages.success}}
      </div>
    </div>
    {{/if}}

    <div class="container card shadow p-3 my-5 bg-body rounded" style="width: 800px;">
        <section class="d-flex justify-content-between ">
            <div class="leftd-flex justify-content-start p-2 w-50" >
                <h1 class="mb-4 mt-3">Hi Welcome to my profile</h1>
                <p class="p mb-5">Hi pals, my name is Muhammad Rayhanul Ihsan for short you can call me ihsan, I was burn in West Sumatra, specifically Bukittinggi. I am 23 years old, and my hobby is sports. I've just graduated from college. I am a beginner in the field of web development.</p>
                <table class="mb-5">
                    <thead>
                        <tr>
                          <th class="btn1"><a href="https://wa.me/6282381009670" style="color: white; text-decoration: none;">contact</a></th>
                          <th >download CV</th>
                          <th ><a href="https://docs.google.com/document/d/1pVgnX7YXHsh7maLtIZJk_rSft-BcWTsI/edit?usp=sharing&ouid=118364168265752114488&rtpof=true&sd=true"><img src="/assets/image/unduh.svg" alt="unduh"></a></th>
                        </tr>
                      </thead>   
                </table>
                    <div class="d-flex flex-row mb-3" >
                        <a href="linked"  id="linked" class="p-2"><img src="/assets/image/linkedin.svg" alt="linkedin"></a>
                        <a href="https://instagram.com/rayhan_ihsn" id="instagram" class="p-2"><img src="/assets/image/instagram.svg" alt="instagram"></a>
                        <a href="facebook" id="facebook" class="p-2"><img src="/assets/image/facebook.svg" alt="facebook"></a>
                        <a href="https://x.com/sonofbentala?s=11" id="twitter" class="p-2"><img src="/assets/image/twitter.svg" alt="twitter"></a>
                    </div>
            </div>
                    
            <div class="card d-flex justify-content-end mt-2 shadow  mb-1 bg-body rounded"  style="width: 45%; ">
                <img src="/assets/image/pic.JPG" class="card-img-top object-fit-cover border rounded" alt="rayhan"/>
                    <div class="card-body" style="text-align: center;">
                        <h2 class="card-title">M Rayhanul Ihsan</h2>
                        <p class="card-text">Fullstack Developer</p>
                    </div>
            </div>           
        </section>
    </div> 
    <hr>
    <div>
        <h3 class="text-center mt-3 mb-3">MY PROJECT</h3>
    </div>
        <div class="d-flex flex-row flex-wrap">
          {{#each dataProject}}
            <div class="card1 mb-3 shadow">
                <img src="/assets/image/{{this.image}}" class="card-img-top mb-3" style="object-fit: cover; border-radius: 10px;" alt="img2">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/project-detail/{{this.id}}" target="_blank" class="mb-4">{{this.name}}</a></h5>
                    <p id="durasi" style="font-size: 14px; color: #5d5c5c;">durasi :{{this.duration}}</p>
                    
                    <p class="card-text-justify" style="text-align: justify;">{{this.description}}</p>
                    <div class="d-flex  mb-4 align-items-center">
                      {{#if this.nodejs}}<i class="fa-brands fa-node-js fa-2x" style="margin-right: 10px;"></i>{{else}}{{/if}}
                      {{#if this.reactjs}}<i class="fa-brands fa-react fa-2x" style="margin-right: 10px;"></i>{{else}}{{/if}}
                      {{#if this.nextjs}}<i class="fa-brands fa-square-js fa-2x" style="margin-right: 10px;"></i>{{else}}{{/if}}
                      {{#if this.typescript}}<i class="fa-regular fa-compass fa-2x" style="margin-right: 10px;"></i>{{else}}{{/if}}
                    </div>
                    <div class=" d-flex align-items-end justify-content-around mx-1" >
                          <a href="/edit-project/{{this.id}}" class="btn btn-secondary w-50 ">Edit</a>                        
                          <form method="post" action="/delete-project/{{this.id}}" >
                          <button class="btn btn-secondary px-5 " onclick="myDelete()">Delete</button>
                        </form>   
                   </div>
                </div>
            </div>
        {{/each}}
        </div>
        <script>
          function myDelete(){
            let text;
            if (confirm("click a button!!") == true){
              text = "You Click OK!";
            } else {
              text = "You Canceled!";
            }
          }
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>